<center><p><b>WELCOME TO {{ title }}</b></p></center>
    <form action="/connection" method="post" class="mb-4">
    <center> <input type="submit" value="CONNECT" class="btn btn-primary btn-block"></center>
    </form>
